@keyframes fail {
  0% {
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  75%{
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}




.form-container{
  width: 900px;
  height: 800px;
  background: #ccc;
  border: 2px solid #000;
  border-radius: 33px;
}

.welcome {
  margin: 25px;
  font-size: 30px;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px;
}
.Inp-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  place-content: center;
  justify-content: center;
  align-items: center;
}
.logo-container {
  width: 250px;
  height: 250px;
  background-color: rgb(246, 254, 7);
  border: 6px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #000;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.election{
  width: 80%;
  height: 40px;
  border-radius: 22px;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}
.female{
  background-color: hwb(347 2% 2%);
}
.male{
  background-color: #22ff;
}

.Inp-container input{
  width: 90%;
  height: 50px;
  border-radius: 22px;
  padding: 5px;
  margin-bottom: 10px;
  border: 3px solid #000;
}
.submit{
  width: 70%;
  height: 30px;
  border-radius: 3px;
  margin: 5px;
  border: 2px solid #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fail-alert{
  height: 50px;
  width: 80%;
  background-color: #ff2020;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 3px solid #000;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: fail 1.2s ;
}
.incorrect{
  color: #000;
  font-size: 20px;
}
  


