

.post-container{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0 10px;
    width: 100%;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    
}
.profile-name{
    font-size: 1.5em;
    transform: translateY(-75px);
    margin: 0 0 0 70px;
}
.profile-state{
    font-style: italic;
    transform: translateY(-75px);
    margin: 0 0 0 70px;
    text-overflow: ellipsis;
    max-height: 10px;
}
.landing-image {
    background-image: url(C:\Users\Lenovo\Desktop\proyectos\New-Page\Page\images\happy.jpg);
    background-repeat: no-repeat;
    width:  100%;
    height: 600px;
    max-height: 600px;
    background-size: contain;
    background-position: center;
    margin-top: 15px;
    
}
.like {
    padding: 0px;
    width: 20px;
    height: 20px;
    margin: 5px;
}
.count-like{
    margin: 0 0 0 10px;
}
.description-container{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    white-space: nowrap;
    text-align: left;
}
.description-container-expanded{
    display: flex;
    margin: 0 0 0 10px;
    white-space: wrap;
    text-align: left;
    max-height: 100px;
    height: 100px;
}

.description{
    margin: 0 0 0 5px;
    width: 95%;
    max-width: 95%;
    overflow: hidden;
    padding: 2px;
}
.description:hover{
    cursor: pointer;
    user-select:none ;
    background-color: rgba(0, 0, 0, 0.1);
}

.links{
    margin-left: 5px;
}


.description:hover{
    cursor: pointer;
    user-select:none ;
}